.messagesender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0,0,0.75);
    width: 100%;
}

.messagesendertop{
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding:15px;
}
.messagesendertop > form{
    flex: 1;
    display: flex;
}
.messagesendertop > form >input{
    outline: none;
    outline-width: 0;
    border:none;
    padding:5px 20px;
    margin:0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.messagesendertop > form >button{
    display: none;
}

.messagesenderinput{
    float: 1;
}
.messagesenderbottom{
    display: flex;
    justify-content: space-evenly;
}
.messagesenderoption {
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin:5px;
}
.messagesenderoption > h3{
    font-size: medium;
    margin-left: 10px;
    cursor: pointer;
}
.messagesenderoption:hover{
    background-color: #eff2fe;
    border-radius: 20px;
}